<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Works</title>
  </head>
  <body>
    <h1>Works</h1>
    <h2>Bitcoin Magazine</h2>
    <p>
      Buterin met a person on a bitcoin chat forum trying to start a bitcoin
      blog. The owner offered five bitcoin (about $3.50 at the time) to anyone
      who would write an article for him. Buterin wrote for the site until its
      website shut down soon thereafter due to Bitcoin's lack of mainstream
      attention.[14][non-primary source needed] In September 2011, another
      person reached out to Buterin about a new publication called Bitcoin
      Magazine, a position which Buterin would accept as the first co-founder,
      and contribute as a leading writer.[citation needed] In addition Buterin
      wrote about bitcoin-related topics for other publications, including
      Bitcoin Weekly.[1] Bitcoin Magazine in 2012 later began publishing a print
      edition and has been referred to as the first serious publication
      dedicated to cryptocurrencies.[15] Bitcoin Magazine was then purchased by
      BTC Media, where Buterin continued to write until mid-2014.[citation
      needed] In addition, he held a position on the editorial board of Ledger,
      a peer-reviewed scholarly journal that publishes full-length original
      research articles on the subjects of cryptocurrency and blockchain
      technology.[16]
    </p>
    <h2>Ethereum</h2>
    <p>
      Buterin is a co-founder and inventor of Ethereum, described as a
      "decentralised mining network and software development platform rolled
      into one"[17] that facilitates the creation of new cryptocurrencies and
      programs that share a single blockchain (a cryptographic transaction
      ledger).[18][19] Buterin first described Ethereum in a white paper[20] in
      late 2013. Buterin argued that bitcoin needed a scripting language for
      application development. But when he failed to gain agreement, he proposed
      development of a new platform with a more general scripting
      language.[21]:88 About the Ethereum Project, Buterin has said: "I am truly
      grateful to have the opportunity to work in such an interesting and
      interdisciplinary area of industry, where I have the chance to interact
      with cryptographers, mathematicians and economists prominent in their
      fields, to help build software and tools that already affect tens of
      thousands of people around the world, and to work on advanced problems in
      computer science, economics and philosophy every week."[8] However, in a
      2018 New Yorker article, his father suggests that Buterin is trying to
      avoid the focus on him as the philosopher king of the blockchain world.
      "He is trying to focus his time on research," Dmitry [Buterin's father]
      said. "He's not too excited that the community assigns so much importance
      to him. He wants the community to be more resilient."[22]
    </p>
    <h2>Open source software</h2>
    <p>
      Buterin has contributed as a developer to other open source software
      projects.[1] He also contributed to DarkWallet[23] by Cody Wilson, Bitcoin
      Python libraries,[24] and the cryptocurrency marketplace site Egora.[2]
    </p>
    <h2>Ethereum Russia</h2>
    <p>
      As Buterin was recognizing the economic and political relevance of the
      Ethereum enterprise for his native Russia, he met with Vladimir Putin on
      June 2, 2017, at the St. Petersburg International Economic Forum (SPIEF)
      event. The president of Russia stated that he "supported the idea of
      establishing ties with possible Russian partners".[25]
    </p>
    <a href="/" class="btn btn-primary btn-lg active" role="button">Home</a>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
